.top-bar, .top-bar ul {
  background-color: $nav-background;
}
.top-bar{
  .menu {
    .active-link{
        font-weight: bold;
        background-color: $nav-active-link-background;
        color: $nav-active-link-color;
    }
    .menu-text{
      color:$nav-text;
      a{
        display: inline;
        padding:0;
      }
    }
  }
}
